
.slide-1{
    height: 100%;
    background-color: red;
}
.slide-2{
    height: 100%;
    background-color: grey;
}
.slide-3{
    height: 100%;
    background-color: cyan;
}

ion-slides{
    height: 100%;
}