<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>slide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="ios" pager="ios" scrollbar="ios">

    <ion-slide class="slide-1">
      <h1>Slide 1</h1>
    </ion-slide>

    <ion-slide class="slide-2">
      <h1>Slide 2</h1>
    </ion-slide>

    <ion-slide class="slide-3">
      <h1>Slide 3</h1>
    </ion-slide>

    <ion-slide>
      <ion-button (click)="onClick()" color="primary" expand="full" fill="clear">
        Click me
      </ion-button>
    </ion-slide>

  </ion-slides>


</ion-content>
