<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="danger">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, autem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, ducimus.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="../../assets/ni.png"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At veniam nesciunt error. Doloremque in maxime iure quisquam, atque laborum, doloribus ullam magnam repellat aliquam at?
    </ion-card-content>
  </ion-card>
</ion-content>
