<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input placeholder="parametro" [(ngModel)]="valor">

    </ion-input>
  </ion-item>

  <ion-button expand="full" [routerLink]="['/segundo',valor]">Push con router link</ion-button>
  <ion-button expand="full" (click)="pushSegunda()">Push con router angular</ion-button>
  <ion-button expand="full" (click)="pushSegundaNavCtrl()">Push con nav controler</ion-button>

</ion-content>
